<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mailing system</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: 20px auto;
    }
  </style>
</head>
<body>
<h1>Admin Page Mailing rate</h1>
  <a href="{% url 'sent_mail' %}">sentMail</a> /
  <a href="{% url 'delaySet' %}">set Delay</a>
  <hr>

  {% if messages %}
      {% for message in messages %}
        <p style="color: green">{{ message }}</p>
      {% endfor %}
    <hr>
  {% endif %}

  {% block content %}
  {% endblock %}

</body>
</html>